/*
 *
 * CSS com estilos genéricos para todos os temas
 *
 * @Autores
 *
 * - Danilo Sartorelli Barbato
 * - Moisés de Aguiar Júnior
 * - Wellington Braga
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */


/* ==========================================================================
   Cabeçalho do Portal
   ========================================================================== */

.visualClear {
  clear: both;
}

#portal-header {
  background: transparent;
}

/* Barra de serviços */

#portal-header .services {
  position: relative;

}

#portal-header .services #portal-siteactions {
  float: right;
  border-bottom: 1px solid #363636;
  font-size: 100%;
  font-weight: 700;
  padding-left: 335px;
  position: relative;
  padding-top: 0.5em;
  margin: 0 0 30px;
  height: 25px;
}

#portal-header .services #portal-siteactions li {
  padding: 0 0 7px;
  display: inline-block;
  line-height: 18px;
  margin: o;
}

#portal-header .services #portal-siteactions li a,
#portal-header .services #portal-siteactions li a:visited {
  color: #333333;
}

#portal-header .services #portal-siteactions
#siteaction-solicitar_servicos {
  text-transform: uppercase;
  position: relative;
}

#portal-header .services #portal-siteactions
#siteaction-solicitar_servicos a {
  background: url("../img/sprite.png") no-repeat -621px -157px transparent;
  display: block;
  height: 55px;
  float: right;
  text-indent: -9999em;
  width: 115px;
  margin-bottom: -38px;
  margin-top: -7px;
}

/* Fim da barra de serviços */

/* Logo */

#portal-header .logo h1 {
  display: inline-block;
  height: 52px;
  margin-top: -12px;
  width: 184px;
  background-image: url("../img/sprite.png");
  text-indent: -9999em;
}

/* Fim do logo */

/* Navegaçao global (seçoes) */

#portal-header #portal-globalnav {
  position: relative;
}

#portal-header #portal-globalnav li {
  float: left;
  margin: 13px 15px 0 0;
  padding-left: 15px;
}

#portal-header #portal-globalnav li:before {
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  content: "a";

  float: left;
  height: 2px;
  overflow: hidden;
}

#portal-header #portal-globalnav #portaltab-cidadao:before {
  border-left: 7px solid #01A4B7;
}

#portal-header #portal-globalnav #portaltab-cidadao a {
  color: #ffffff;
}

/* Fim da navegaçao global */


/* ==========================================================================
   Rodape do Portal
   ========================================================================== */

#footer-nav {
  background-color: #252525;
  margin-top: 60px;
  padding: 30px 0 48px;
}

#footer-nav .columns {
  float: left;
  display: inline;
}

#footer-nav .four.columns {
  width: 220px;
}

#footer-nav section {
  width: 960px;
}

#footer-nav nav {
  padding-bottom: 40px;
}

#footer-nav strong, #footer-nav form legend {
  color: #797979;
  font-size: 16px;
  text-transform: uppercase;
}

#footer-nav ul {
  padding-top: 15px;
  list-style: none;
  margin: 0;
}

#footer-nav ul li, #footer-nav ul li strong,
#footer-nav ul li a {
  color: #ffffff;
  font-size: 12px;
  text-transform: none;
} 

#footer-nav ul li span {
  display: block;
  font-weight: 700;
  color: #B7B7B7;
}

#footer-nav fieldset {
  padding: 0;
  margin: 0;
}

#footer-nav form legend {
  border: 0;
  font-weight: 700;
  margin: 0;
  line-height: 100%;
  padding-bottom: 15px;
}

#social_footer li {
  float: left;
}

#social_footer span {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 25px;
  text-indent: -9999em;
}

#social_footer #facebook {
  background-position: -599px 0;
}

#social_footer #twitter {
  background-position: -652px 0;
}

#social_footer #youtube {
  background-position: -621px 0;
}

#social_footer #diario {
  background-position: -627px -62px;
  float: left;
}
.app-icone {
  display: block;
  height: 45px;
  width: 118px;
}

.box_content a {
  background: none repeat scroll 0 0 #363636;
  border: 1px solid #727272;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  width: auto;
}

.bottom_roominess {
  background-color: #363636;
  padding: 15px 0 0;
}


.container:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 960px;
}

.logos, #logoPB {
  display: inline-block;
  height: 52px;
  width: 184px;
}

#logoPB {
  background: url("../img/sprite.png") no-repeat -193px 0 transparent;
}

.copyright {
  background-color: #424242;
  color: #787878;
  font-size: 11px;
  height: 17px;
  margin-top: 10px;
  padding: 10px 0 0 20px;
}